.btn-icon-wrapper {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 8px;
	color: var(--second-color);
	background: none;
	border: none;

	cursor: pointer;
}
.btn-icon {
	width: 24px;
}
