header {
	display: flex;
	justify-content: center;
	width: 95%;
	border-bottom: 1px solid #c2c2c2;

	.header-wrapper {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding: 24px 0px;
		width: 50%;
	}
}

@media screen and (max-width: 1024px) {
	header .header-wrapper {
		width: 70%;
	}
}

@media screen and (max-width: 425px) {
	header .header-wrapper {
		width: 85%;
	}
}
